{% extends '/layout/app.twig' %}

{% block title %} Blog {% endblock %}

{% block content %}
	
	<div class="page-header">
	  <h1>Blog Page</h1>
	</div>
	
	<h1> Title: {{ post.id }} <h1>
	<h3> User: {{ post.name }} </h3>

{% endblock %}