{% extends '/layout/app.twig' %}

{% block title %} Blog Post {% endblock title %}

{% block content %}
	
	<div class="page-header">
	  <h1>Blog Post Page</h1>
	  <h2> </h2>
	</div>
	<pre>
	{% for user in users %}
		<h3> User: {{ user.name }} </h3>
	{% endfor %}
	</pre>
{% endblock content %}