
.homePage-section{
    @include media-breakpoint-up(md) {
        @include make-row();
    }
}


.recent-post{
    width: 90%;
    height: 300px;
    border: 2px solid black;
    background: green;
    @include media-breakpoint-up(md) {
        width: calc(100% / 3);
        background: red;
    }
}